@import "tailwindcss";

@theme {
  --color-landing-grey: #090d0f;
  --color-landing-white: #ffffff;
  --color-landing-neon: #b8ce00;
  --tracking-wide-5: 5px;
  --tracking-wide-10: 10px;
  --tracking-wide-50: 50px;
  --border-width-1: 1.9px;
}
